* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
  overflow: hidden;
}

.left, .right{
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

.left {
  background-color: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.left .code {
  flex-grow: 1;
  overflow-y: auto;
}

.left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(100, 100, 241);
  color: #000000;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 2rem;
  border-radius: 0.7rem;
  z-index: 1;
}

.left .code,
.code pre,
.code pre code {
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #0c0c0c;
}

.left .code::-webkit-scrollbar {
  width: 8px;
}

.left .code::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

.left .code::-webkit-scrollbar-track {
  background: transparent;
}


.right{
  background-color: #353333;
  padding: 1rem 2rem;
  color : #ffff;
  font-size: 1rem;
  overflow: auto;
}